*{
    box-sizing: border-box;
    padding: 4px 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5;
}

.flexbox1 {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin: 2px 5px;
}

.floatimg {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.button-data{
    background-color: rgb(18, 22, 15);
    border-radius: 8px;
    text-decoration: none;
    color: rgb(193, 226, 198);
}
  
.button-header{
    background-color: rgb(115, 178, 72);
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
    line-height: 25px;
}

h1 {
    background-color: rgb(49, 54, 54);
    color: rgb(72, 209, 62);
    text-shadow: 2px;
}

h2 {
    color: aqua;
}

#bild2 {
    border-radius: 30px;
    height: 200px;
}