body {
    background-color: rgba(28, 33, 33, 0.901);
    border: 5px;
    border-color: aliceblue;
}

ul li {
    list-style: none;
    line-height: 20px;
}

h1 {
    background-color: rgb(49, 54, 54);
    color: rgb(84, 224, 43);
    text-shadow: 2px;
}

h2 {
    color: rgb(84, 224, 45);
}

*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5;
    padding: 3px 3px;
    color: azure;
    margin: 0px;
}

.flexbox1 {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    margin: 2px 5px;
    border-color: blue;
    background-color: rgb(133, 129, 129);
}

.float {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.float1 {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.button-data{
    background-color: rgb(18, 22, 15);
    border-radius: 8px;
    text-decoration: none;
    color: rgb(193, 226, 198);
}
  
.button-header{
    background-color: rgb(115, 178, 72);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-style: bold;
}

.sprback{
    text-decoration: none;
    font-size: 14px;
}

.border1{
    padding-bottom: 30px;
    border-bottom: 12px;
    border-color: azure;
}

.para1 {
    margin-left: 10px;
}

#column-left{
    float: left;
}

#column-right {
    float: right;
}

#bild2 {
    border-radius: 30px;
    height: 250px;
}

