@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5;
    padding: 3px 3px;
    color: azure;
    margin: 0px;
}

body {
    background-color: rgba(28, 33, 33, 0.901);
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

menu {
    /*position: fixed;*/
    /*width: 1100px;*/
    justify-content: center;
}

/*menuex {
    display: flexbox;
    width: 100%;
}*/

ul li {
    list-style: none;
    line-height: 20px;
    display: flex;
}

h1 {
    background-color: rgb(49, 54, 54);
    color: rgb(84, 224, 43);
    text-shadow: 2px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

h2 {
    color: rgb(84, 224, 45);
}

header {
    display: flex;
    justify-content: center;
    /*padding-top: 100px;*/
    padding-bottom: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: double;
    gap: 30px;
}

section {
    max-width: 500px;
    justify-content:space-around;
}

article {
    /*padding-bottom: 30px;*/
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexbox1 {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    margin: 2px 5px;
    border-color: blue;
    background-color: rgb(133, 129, 129);
}

.float {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.float1 {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.button-data{
    background-color: rgb(18, 22, 15);
    border-radius: 8px;
    text-decoration: none;
    color: rgb(193, 226, 198);
}

.button-data:hover{
    background-color: rgb(178, 190, 169);
    color: rgb(20, 27, 21);
    font-weight: bold;
}
  
.button-header{
    background-color: rgb(126, 227, 82);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.button-header:hover {
    background-color: rgb(36, 54, 23);
    color: rgb(141, 223, 138);
}

.sprback{
    text-decoration: none;
    font-size: 14px;
}

.border1{
    padding-bottom: 30px;
    border-bottom: 12px;
}

.para1 {
    margin-left: 10px; /*Absatz einrücken*/
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

#column-left{
    width: auto;
}

#column-right {
    display: flex;

}

#bild2 {
    border-radius: 30px;
    height: 250px;
}

#sm-img {
    height:"50px";
    border-radius: 5px;

}
